.statistika_box {
  width: 100%;
  height: 230px;
  background: #d9d9d9;
  border-radius: 10px;
  padding: 20px;
  overflow: auto;

  &_heading {
    text-align: center;
    font-size: 20px;
  }

  &_text {
    font-size: 17px;
    margin-top: 15px;
  }
}

.statistika_list {
  display: flex;
  gap: 70px;
  margin-bottom: 30px;
}

.box_statik {
  padding: 50px;
}
